/*   
** This document is property of the Mondernaxis Project.
**
** Copyright 2014 - Lucas Shanley
**
** Please respect the authors who devoted the time to this project. Any usage of this document without
** express written permission is strictly forbidden as protected by law. If you would like to use any
** of the code here in please contact the Modernaxis Development Team.
*/ 

/* ---------------------------- Style Classes --------------------------------- */

.inset-text {
    font-family: Lucida Grande;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

/* ---------------------------- Standardization ------------------------------- */
#body, html {
	height: 100%;	
}

#wrapper {
    width:100%;
    position:absolute;
    top:0px;
    bottom:0px;
}

/* ---------------------------- Top Navigation Bar ---------------------------- */

#top_nav {
	background-color: #E4E4E4;
	width: 100%;
	height: 25px;
	clear: both;
	border-bottom: thin;
	border-bottom-color: #666;
	border-bottom-style: outset;
}

#top_title {
	font-size: 25px;
	font-weight: bold;
	padding: 0px 10px 0px 0px;	
	float: right;
}

.nav {
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 22px;
	z-index:999;
}

.nav>li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	z-index:999;
}

.nav>li>a {
	display: block;
	position: relative;
	padding: 10px 10px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	background: rgba(0, 0, 0, .4);
	-ms-transition: color .3s ease-in;
	z-index:999;
}

.nav>li>a:hover, .nav>li:hover>a {
	color: #0fd0f9;
	z-index:999;
}

.nav>.dropdown>a {
	padding: 2px 15px;
	z-index:999;
}

.dropdown>a:hover::after, .dropdown:hover>a::after {
	border-color: #0fd0f9;
	z-index:999;
}

.nav ul {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	z-index:999;
}

.nav ul li {
	position: absolute;
	top: -9999px;
	height: 0px;
	display: block;
	margin: 0;
	padding: 0;
	-ms-transition: height .2s ease-in;
	z-index:999;
}

.dropdown:hover>ul>li {
	height: 30px;
	position: relative;
	top: auto;
	/**/
	z-index:999;
}

.nav ul li a {
	padding: 4px 10px;
	width: 140px;
	display: block;
	position: relative;
	color: #bbb;
	text-decoration: none;
	font-size: 14px;
	background: rgba(0, 0, 0, .8);
	-ms-transition: color .3s ease-in, background .3s ease-in;
	z-index:999;
}

.nav ul li:hover>a, .nav ul li a:hover {
	color: #0fd0f9;
	background: rgba(0, 0, 0, .75);
	z-index:999;
}

.nav ul .dropdown:hover ul {
	left: 160px;
	top: 0px;
	z-index:999;
}

.nav ul .dropdown a::after {
	width: 6px;
	height: 6px;
	border-bottom: 0;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	top: 12px;
	z-index:999;
}

.nav ul .dropdown:hover>a::after, .nav ul .dropdown>a:hover::after {
	border-right: 1px solid #0fd0f9;
	border-top: 1px solid #0fd0f9;
	z-index:999;
}

/* ---------------------------- Left Navigate Bar ----------------------------- */
#left_nav {
	background-color: #E4E4E4;
	width: 150px;
	height: calc(100% - 26px);
	float: left;
	position: absolute;
	border-right: thin;
	border-right-color: #666;
	border-right-style: outset;
}

/* ---------------------------- Main Site Contents ---------------------------- */
#main_content {
	float: right;
    clear: left;
	background-color: #fff;
	width: calc(100% - 151px);
	position: relative;
    height: calc(100% - 26px);
	overflow: scroll;
	overflow-y: hidden;
	font-size: 14px;
}

#main_content h1 {
    font-size: 35px;
}

#content_wrapper {
	padding: 10px 0px 0px 10px;
}

#content_wrapper h1 {
    
}

/* ---------------------------- Bottom Status Bar ----------------------------- */
#status_bar {
	position: absolute;
	bottom: 0;
	clear: both;
	width: 100%;
	height: 20px;
	background-color: #bbb;
	border-top: thin;
	border-top-color: #666;
	border-top-style: outset;
}

#bottom_clock {
	margin-right: 5px;
	height: 16px;
	font-size: 14px;
	width: 55px;
	border-left: medium;
	border-left-style: solid;
	border-left-color: #666;
	border-right: medium;
	border-right-color: #666;
	border-right-style: solid;
	float: right;
	background-color: #E4E4E4;
	padding-top: 4px;
	padding-left: 4px;
}

#connection_status {
	margin-right: 5px;
	height: 16px;
	font-size: 14px;
	width: 110px;
	border-left: medium;
	border-left-style: solid;
	border-left-color: #666;
	border-right: medium;
	border-right-color: #666;
	border-right-style: solid;
	float: right;
	background-color: #E4E4E4;
	padding-top: 4px;
	padding-left: 4px;
}

#connection_method {
	margin-right: 5px;
	height: 20px;
	font-size: 14px;
	width: 106px;
	border-left: medium;
	border-left-style: solid;
	border-left-color: #666;
	border-right: medium;
	border-right-color: #666;
	border-right-style: solid;
	float: right;
	background-color: #E4E4E4;
	padding-top: 0px;
	padding-left: 4px;
	padding-right: 4px;
}

.connection_method_Button {
	width: 65px;
	height: 20px;
	float:left;
	padding-top: 1px;
}

.connection_method_Selection {
	width: 37px;
	height: 20px;
	float: right;
	padding-top: 1px;
}